:root {
    --white-color: #fff;
    --blue--button: #14b9d5;
    --text--color: #9a9a9a;
} 
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.4rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.search__status--hot::after {
    content: "HOT";
    display: block;
    color: var(--white-color);
    background-color: #f76570;
    float: right;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 10px;
    padding: 3px 5px;
}
.search__status--new::after {
    content: "NEW";
    display: block;
    color: var(--white-color);
    background-color: #14b9d5;
    float: right;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 10px;
    padding: 3px 5px;
}